<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gwangho's Shoppingmall</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div th:replace="~{nav.html::navbar}"></div>
    <div class="card" th:each="data : ${items}">
        <img src="https://placehold.co/300">
        <div>
            <a th:href="@{'/detail/' + ${data.id}}" th:text="${data.title}">pants</a>
            <a th:href="@{'/edit/' + ${data.id}}">수정</a>
            <p th:text="${data.price}">70000</p>
            <p th:onclick="fetch('/item?id=[[${data.id}]]', {method: 'DELETE'})
                .then(() => {location.reload();})
            ">delete</p>
        </div>
    </div>
</body>
</html> list