<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gwangho's Shoppingmall</title>
</head>
<body>
    <div>
        <img>
        <h4 th:text="${name}">pants</h4>
        <p>70000</p>
    </div>
    <div>
        <img>
        <h4>shirts</h4>
        <p>80000</p>
    </div>
</body>
</html>