<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gwangho's Shoppingmall</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div th:replace="~{nav.html::navbar}"></div>

    <h1>mypage</h1>

    <div sec:authentication="principal"></div>
    <div sec:authentication="principal.username"></div>
    <div sec:authorize="isAuthenticated()">only for login</div>
    <div sec:authorize="isAnoymous()">only for logout</div>
    <div sec:authorize="hasAuthority('ㅁ')">
        일반유저용
    </div>
</body>
</html>