<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gwangho's Shoppingmall</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <form action="/user/add" method="post">
        <input name="username" placeholder="username">
        <input name="password" placeholder="password">
        <input name="displayName" placeholder="displayName">
        <button type="submit">register</button>
    </form>
</body>
</html>