<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gwangho's Shoppingmall</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div th:replace="~{nav.html::navbar}"></div>

    <form action="/add" method="post">
        <input name="title">
        <input name="price">
        <button type="submit">submit</button>
    </form>

    <input type="file" onchange="getURL(this)">
    <img src="">

    <script>
        async function getURL(e) {
            let name = encodeURIComponent(e.files[0].name);
            let result = await fetch('/presigned-url?filename=' + name);
            result = await result.text();
            console.log(result);

            let r = await fetch(result, {
                method: "PUT",
                body: e.files[0]
            });
            console.log(r.url.split("?")[0]);

            if(r.ok) {
                document.querySelector('img').src = r.url.split("?")[0];
            }
        }
    </script>
</body>
</html>